<ion-view title="Welcome to HighwayAFRICA" id="page2" style="background-color:#CBA13D;">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="welcomeToHighwayAFRICA-slider1" style="width:calc(100% + 20px);height:200px;margin-left:-10px;">
      <ion-slide-page id="welcomeToHighwayAFRICA-slide24" style="background:url(&quot;img/noOkWayT46GOQaCPLdZi_smartmockups_jh7r2qmp-300x225.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="welcomeToHighwayAFRICA-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="welcomeToHighwayAFRICA-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="welcomeToHighwayAFRICA-slide27">
        <h1 id="welcomeToHighwayAFRICA-heading1" style="color:#000000;">Slide 4</h1>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>